main{
	margin-left: 1%; margin-right: 1%;
}

input[type=checkbox] {
	display: none;
}
.roundedOne {
	position: relative;
}
.roundedOne label {
	margin: auto;
	display: block;
	cursor: pointer;
	width: 20px;
	height: 20px;
	border-radius: 50px;
	border: 1px solid grey;
	background: none;
}

.roundedOne label:hover {
	border-color: #5588AA;
}

.roundedOne input[type=checkbox]:checked + label {
	background: #66C5D5;
}
.head th{
	background-color: #AAAAAA;
}
tr:nth-child(odd){
	background-color: #E6E6E6;
}
tr:nth-child(odd):hover, .table tbody tr:hover{
	background-color: rgba(175,210,215,0.5);
}
table tbody .head:hover, table tbody .head{
	background-color: transparent;
}
#corner {
	background-color: transparent;
	border-top: none;
	border-left: none;
}
table{
	border: none;
}
table td, table tbody .head th{
	border: 1px solid grey;
}


