main{
	margin-left: 1%; margin-right: 1%;
}

input[type=checkbox] {
	display: none;
}
.roundedOne {
	position: relative;
}
.roundedOne label {
	margin: auto;
	display: block;
	cursor: pointer;
	width: 20px;
	height: 20px;
	border-radius: 50px;
	border: 1px solid grey;
	background: none;
}

.roundedOne label:hover {
	border-color: #5588AA;
}

.roundedOne input[type=checkbox]:checked + label {
	background: #66C5D5;
}
.head th{
	background-color: rgb(46, 46, 46);;
}
tr:nth-child(odd) td{
	background-color: rgb(35, 35, 35);
}
tr:nth-child(odd):hover td, .table tbody tr:hover td{
	background-color: #033a3d;
}
table tbody .head:hover td, table tbody .head{
	background-color: rgb(24,24,24);
}
#corner {
	border-top: none;
	border-left: none;
}
table{
	border: none;
}
table td, table tbody .head th{
	border: 1px solid grey;
}

.table tbody tr .button_link, .table tbody tr .button_link:hover {
	padding: 5px;
	margin: 0;
	border-top:none;
	border-right:none;
	border-bottom: none;
	width: 1%;
	white-space: nowrap;
	vertical-align: middle;
}
.table tbody tr .button_link{
	background-color: transparent;
}

a{
	cursor:pointer;
}
html, body, main, #corner{
	background-color: rgb(24,24,24);
	color: rgb(204, 204, 204);
}

button{
	background-color: transparent;
	border: 1px solid white;
	border-radius: 5px;
}
a:focus, a:hover{
	color:#5584AE;
}