<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>FFXIV Loot manager</title>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/app.css">
	<script type="text/javascript" src="js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/vue.js"></script>
	<script type="text/javascript" src="js/manager.js"></script>
</head>
<body>
	<main class="container-full" id="main">
		<h1 id="top">{{ title }}</h1>
		<nav>
			<ul>
				<li v-for="entry in menu">
					<a v-on:click="entry.function(entry.default)">{{ entry.text }}</a>
					<ul v-if="entry.menu && entry.menu.length != 0">
						<li v-for="subentry in entry.menu"><a v-on:click="entry.function(subentry.value)">{{ subentry.text }}</a></li>
						
					</ul>
				</li>
			</ul>
		</nav>


		<section v-if="page == 'index'">
			LOADING PLEASE WAIT !
		</section>


		<section v-if="page == 'mate'">
		</section>


		<section v-if="page == 'sets'">
			<form>
				<table class="table table-bordered table-hover">
					<tr class="nosel">
						<th>Name</th>
						<th>Price</th>
						<th>Action</th>
					</tr>
					<tr v-for="(item,i) in d.items">
						<td>
							{{ item.name }}
						</td>
						<td>
							{{ item.price }}
						</td>
						<td>
							<div class="roundedOne">
								<input type="checkbox" v-bind:id="i" v-bind:name="i" />
								<label v-bind:for="i"></label>
							</div>
						</td>
					</tr>
				</table>
				<input v-on:click="sendOwned" type="submit" name=""> 
			</form>
		</section>

		<section v-if="page == 'team'">
			<table class="table table-hover">
				<tr class="nosel head">
					<th colspan="2" rowspan="2" id="corner"></th>
					<th v-for="(dungeon,i) in d.dungeon" v-bind:colspan="colspan[i]">{{ dungeon.name }}</th>
				</tr>
				<tr class="head">
					<td>Tokens</td>
					<td>Genji-Drops</td>
					<td>Tokens</td>
					<td>Genji-Drops</td>
					<td>Glaze</td>
					<td>Tokens</td>
					<td>Genji-Drops</td>
					<td>Twine</td>
					<td>Tokens</td>
					<td>Genji-Drops</td>
				</tr>
				<tr v-for="mate in d.team">
					<td>
						<a v-on:click="goSet(mate.name)">{{ mate.name }}</a>
					</td>
					<td>
						{{ mate.job }}
					</td>
					<td v-for="sum in d.sums[mate.name]">
						{{ sum }}
					</td>
				</tr>
			</table>
		</section>
	</main>
</body>
</html>
